<div class="font1" style="background-color: #26272b;">
    <nav class="navbar navbar-expand-sm">
        <a (mouseover)="brandHover()" [ngClass]="brandClass" routerLink="/home"> {{title}} </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/ide">IDE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/code/recent">Recent codes</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link text-white" routerLink="/blog/recent">Blogs</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/upcoming-contest">Upcoming Contests</a>
            </li>
        </ul>

        <div *ngIf="!this._userService.isLoggedIn; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/register">Register</a>
                </li>
            </ul>
        </ng-template>

        <ng-template #elseBlock>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/code/Guest/Default">My codes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/profile/{{this._userService.currentUser}}">
                        {{this._userService.currentUser || "Profile"}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="logout()">Logout</a>
                </li>
            </ul>
        </ng-template>
    </nav>
</div>