<div class="full">
    <div>
        <div>
            <div class="row">
                <div class="col">
                    <div class="border">
                        <div class="row mt-2 mb-2 ml-0 mr-0">
                            <div class="col-sm-3">
                                <div class="ml-1 icon-size" data-toggle="Decoder" title="Share your code">
                                    <i class="fas fa-code"></i>
                                    {{code_data.title}}
                                    <!-- <a routerLink="/profile/{{code_data.author}}" data-toggle="tooltip" title="Author">
                                        {{code_data.author}}
                                    </a> -->
                                </div>
                            </div>
                            <div class="col-sm-9 d-flex">
                                <div class="ml-auto">
                                    <a routerLink="/profile/{{code_data.author}}" data-toggle="tooltip" title="Author">
                                        {{code_data.author}}
                                    </a>
                                    <a class="btn-sm btn-default icon-size" data-toggle="tooltip"
                                        (click)="downloadCode()" title="Download code">
                                        <i class="fas fa-download"></i>
                                    </a>
                                    <a class="btn-sm btn-default icon-size" data-toggle="tooltip"
                                        (click)="copyToClipboard('code')" title="copy code">
                                        <i class="fas fa-copy"></i>
                                    </a>
                                    <span class="ml-2 font4" data-toggle="tooltip" title="Language">
                                        {{code_data.language}}
                                    </span>
                                    <span class="ml-2 font4" data-toggle="tooltip" title="Theme">
                                        {{code_data.theme}}
                                    </span>
                                    <button class="ml-2 btn btn-sm btn-info" (click)="editButtonClick()">edit</button>
                                    <button class="ml-2 btn btn-sm btn-danger"
                                        (click)="deleteButtonClick()">delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col" #codeEditor></div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div>
                            <div class="row border">
                                <div class="col">
                                    <span class="font-code font-weight-bold">
                                        <i class="fas fa-inbox"></i>
                                        Input
                                    </span>
                                </div>
                                <div class="col text-right">
                                    <a class="btn-floating btn-sm btn-default" data-toggle="tooltip"
                                        data-placement="left" (click)="copyToClipboard('input')" title="copy input">
                                        <i class="fas fa-copy"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" #inputEditor></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div>
                            <div class="row border">
                                <div class="col">
                                    <span class="font-code font-weight-bold">
                                        <i class="fas fa-poll-h"></i>
                                        Output
                                    </span>
                                </div>
                                <div class="col text-right">
                                    <a class="btn-floating btn-sm btn-default" data-toggle="tooltip"
                                        data-placement="left" (click)="copyToClipboard('output')" title="copy output">
                                        <i class="fas fa-copy"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" #outputEditor></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div [ngClass]="code_data.stderr ? '' : 'hide'">
            <div class="border">
                <div class="row ml-2 mr-2">
                    <div class="col">
                        <span class="font-code font-weight-bold">
                            <i class="fas fa-bug"></i>
                            Error
                        </span>
                    </div>
                    <div class="col text-right">
                        <a class="btn-floating btn-sm btn-default" data-toggle="tooltip" data-placement="left"
                            (click)="copyToClipboard('error')" title="copy stderr">
                            <i class="fas fa-copy"></i>
                        </a>
                    </div>
                </div>
            </div>
            <textarea class="font-small font-code form-control text-danger" disabled="true" rows="10"
                aria-label="output-textarea" #errArea></textarea>
        </div>
    </div>
</div>