* {
  outline: none;
}

html, body {
    width: 73%;
    overflow: auto;
    margin: auto;
}

#wait {
  display: none;
}

#circle {
  position: relative;
  width: 50px;
  height: 50px;
  transform: translate(350px, 220px);
}

.loader {
  width: 100%;
  height: 100%;
  border: 8px solid #162534;
  border-top: 8px solid #09f;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

.in-24-hours {
  background: #DF691A;
}

.in-24-hours:hover {
  background: #DF691A !important;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
