<div class="img3 full">
    <div class="row full">
        <div class="col center bg-white">
            <div>
                <div class="h2 font-code text-danger">
                    {{title}}
                </div>
                <div class="font-code mt-3 description">
                    - Code Your Future. <br>
                    - Share your codes with others. <br>
                    - Compile and Run your code. <br>
                    - Discuss your doubts. <br>
                    - Everyone’s welcome. <br>
                </div>
                <button class="btn mt-2 btn-primary" routerLink="/login">
                    Get Started
                </button>
            </div>
        </div>
        <div class="col center">
            <div class="text-white font-code">
                <h3> <i class="fa fa-terminal"></i> </h3>
                <pre class="h5" #code></pre>
            </div>
        </div>
    </div>
</div>