<div class="img3 full">
    <div class="row full">
        <div class="col center">
            <div>
                <div class="h2 font-code text-success">
                    {{title}}
                </div>
                <div class="font-code mt-3 text-light description">
                    - Code Your Future. <br>
                    - Share your codes with others. <br>
                    - Compile and Run your code. <br>
                    - Discuss your doubts. <br>
                    - Everyone’s welcome. <br>
                </div>
                <button class="btn mt-2 btn-secondary" routerLink="/login">
                    Get Started
                </button>
            </div>
        </div>
        <div class="col center">
            <div class="text-white font-code">
                <h3>
                    <i class="fa fa-terminal"></i>
                </h3>
                <pre class="h5">
<span class="text-danger">While</span>(alive)
{{openBracket}}
    <span style="color: #33C9FF">eat</span>();
    <span style="color: #33C9FF">code</span>();
    <span style="color: #33C9FF">sleep</span>();
    <span style="color: #33C9FF">repeat</span>();
{{closeBracket}}
                </pre>
            </div>
        </div>
    </div>
</div>