<section class="my-2">
    <div class="container-fluid">
        <div class="row">
            <!-- CodeEditor -->
            <div class="col-8">
                <div class="codeEditor my-2" #codeEditor></div>
            </div>

            <!-- Configurations, buttons -->
            <div class="col-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <!-- Mode Selection -->
                        <select class="mx-1" (change)="setMode(modeSelect.value)" [value]='preferedMode' #modeSelect>
                            <option [value]='mode.name' *ngFor="let mode of availableModes"
                                [selected]='mode.name === preferedMode ? "selected" : ""'>{{mode.caption}}</option>
                        </select>

                        <!-- Theme selection -->
                        <select class="mx-1" (change)="setTheme(themeSelect.value)" #themeSelect>
                            <option [value]='theme.name' *ngFor="let theme of availableThemes"
                                [selected]='theme.name === preferedTheme ? "selected" : ""'>{{theme.caption}}
                            </option>
                        </select>
                        <a class="btn-floating btn-sm btn-default icon-size"
                            (click)="setUserChoice(modeSelect.value, themeSelect.value)"><i class="fa fa-cog"
                                title="Set as default configuration" aria-hidden="true"></i></a>
                    </li>

                    <!-- Some features -->
                    <li class="list-group-item">
                        <a class="btn-floating btn-sm btn-default ml-1 icon-size" (click)="clearCode()"><i
                                class="fa fa-trash"></i></a>
                        <a class="btn-floating btn-sm btn-default ml-1 icon-size" (click)="beautifyContent()"><i
                                class="fa fa-indent"></i></a>
                    </li>

                    <!-- Run Button -->
                    <li class="list-group-item"><button type="button" class="btn btn-outline-primary btn-sm"
                            (click)="runClicked(runButton, inputArea, outputArea, modeSelect.value)"
                            #runButton>Run</button></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- Input -->
            <div class="col-sm">
                <div class="input-output">
                    <div class="label-box border"><span class="mx-4 font-weight-light">Input</span></div>
                    <textarea class="form-control" aria-label="output-textarea" (input)="sizeChanged(inputArea)"
                        #inputArea></textarea>
                </div>
            </div>

            <!-- Output -->
            <div class="col-sm">
                <div class="input-output">
                    <div class="label-box border"><span class="mx-4 font-weight-light">Output</span></div>
                    <textarea class="form-control" disabled="true" aria-label="output-textarea" #outputArea></textarea>
                </div>
            </div>
        </div>
    </div>
</section>