<div class="full m-3">
    <div>
        <div class="row">
            <!-- CodeEditor -->
            <div class="col-10">
                <div class="codeEditor" #codeEditor></div>
            </div>
            <!-- Configurations, buttons -->
            <div class="col-2">
                <div class="p-2">
                    <div class="row">
                        <small>Language</small>
                        <select class="form-control form-control-sm"
                            (change)="setMode(modeSelect.value,  $event.target.selectedOptions[0].label)"
                            [value]='preferedMode' #modeSelect>
                            <option [value]='mode.name' [label]="mode.caption" *ngFor="let mode of availableModes"
                                [selected]='mode.name === preferedMode ? "selected" : ""'>
                                {{mode.caption}}
                            </option>
                        </select>
                    </div>

                    <div class="row">
                        <!-- Theme selection -->
                        <small>Theme</small>
                        <select class="form-control form-control-sm" (change)="setTheme(themeSelect.value)"
                            #themeSelect>
                            <option [value]='theme.name' *ngFor="let theme of availableThemes"
                                [selected]='theme.name === preferedTheme ? "selected" : ""'>
                                {{theme.caption}}
                            </option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <small>Options</small>
                            </div>
                            <div class="row">
                                <div class="">
                                    <a class="btn-floating btn-sm btn-default icon-size" title="Share your code">
                                        <i class="fas fa-share-square"></i>
                                    </a>
                                    <a class="btn-floating btn-sm btn-default icon-size" (click)="beautifyContent()"
                                        title="Indent your code">
                                        <i class="fa fa-indent"></i>
                                    </a>
                                    <label for="codeUpload" class="btn-floating btn-sm btn-default icon-size"
                                        title="Upload code">
                                        <i class="fas fa-upload"></i>
                                    </label>
                                    <a class="btn-floating btn-sm btn-default icon-size" (click)="downloadCode()"
                                        title="Download code">
                                        <i class="fas fa-download"></i>
                                    </a>
                                    <a class="btn-floating btn-sm btn-default icon-size" title="Copy code">
                                        <i class="fas fa-copy"></i>
                                    </a>
                                    <input type="file" id="codeUpload" class="hide"
                                        (change)="onChangeFile($event.target.files)" />


                                    <a class="btn-floating btn-sm btn-default icon-size" title="save user setting">
                                        <i class="fas fa-user-cog"></i>
                                    </a>
                                    <a class="btn-floating btn-sm btn-default icon-size" title="save as template">
                                        <i class="fas fa-save"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Run Button -->
                    <div class="row mt-2">
                        <button type="button" class="col btn btn-outline-primary btn-sm"
                            (click)="runClicked(runButton, inputArea, outputArea, errArea)" #runButton>
                            Compile & Run
                        </button>
                    </div>

                    <div class="row mt-2">
                        <div *ngIf="hitCompile hcenter">
                            <i class="fas fa-circle-notch fa-spin"></i>
                            <span class="font-code">
                                Compiling ...
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-1">
        <div class="col">
            <div class="input-output">
                <div class="label-box border">
                    <span class="mx-4 font-code font-weight-bold">
                        <i class="fas fa-inbox"></i>
                        Input
                    </span>
                </div>
                <textarea class="font-code form-control" aria-label="output-textarea" rows="5" #inputArea
                    placeholder="Input here"></textarea>
            </div>

        </div>
        <div class="col">
            <div class="input-output">
                <div class="label-box border">
                    <span class="mx-4 font-code font-weight-bold">
                        <i class="fas fa-poll-h"></i>
                        Output
                    </span>
                </div>
                <textarea class="font-code form-control" disabled="true" rows="5" aria-label="output-textarea"
                    #outputArea></textarea>
            </div>
        </div>
        <div class="col">
            <div class="input-output">
                <div class="label-box border">
                    <span class="mx-4 font-code font-weight-bold">
                        <i class="fas fa-bug"></i>
                        Error
                    </span>
                </div>
                <textarea class="font-code form-control text-danger" disabled="true" rows="5"
                    aria-label="output-textarea" #errArea></textarea>
            </div>
        </div>
    </div>
</div>