<section>
    <div class="m-3">
        <ul class="nav nav-pills nav-danger">
            <li class="nav-item">
                <a class="nav-link btn-sm text-primary" (click)="authenticateClicked($event)">Authenticate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-sm text-primary" (click)="addClicked($event)">Add a problem</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-sm text-primary" (click)="seeClicked($event)">See problem list</a>
            </li>
        </ul>

        <div class="login">

        </div>

        <div class="add">

        </div>

        <div class="see">

        </div>
    </div>
</section>