<div *ngIf="!hideSpinner" class="full center">
    <div id="loader"></div>
</div>

<div class="full p-3">
    <div>
        <div class="row m-2">
            <button class="col btn btn-muted ml-2" (click)="getSiteData($event)" id="All">
                All
            </button>
            <button class="col btn btn-muted ml-2" *ngFor="let site of sites" (click)="getSiteData($event)">
                {{site}}
            </button>
            <div class="col col-sm-2">
                <input type="text" class="form-control" #searchEle placeholder="search"
                    (keyup)="filter(searchEle.value)">
            </div>
        </div>
    </div>
    <div class="p-3">
        <table class="table table-striped border">
            <thead>
                <tr>
                    <th scope="col col-sm-1" class="font-weight-bold font1">#</th>
                    <th scope="col col-sm-6" class="font-weight-bold font-code">Contest</th>
                    <th scope="col col-sm-2" class="font-weight-bold font-code">Start time</th>
                    <th scope="col col-sm-2" class="font-weight-bold font-code">End time</th>
                    <th scope="col col-sm-1" class="font-weight-bold font-code">Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of allData; let i = index">
                    <td>{{i + 1}}</td>
                    <td>
                        <div *ngIf="data.status === 'CODING'; then ifBlock else elseBlock"></div>
                        <ng-template #ifBlock>
                            <i class="fa fa-circle text-success" title="Running contest" aria-hidden="true"></i>
                        </ng-template>
                        <ng-template #elseBlock>
                            <a [href]="getCalendarLink(data)" target="_blank">
                                <i class="fa fa-calendar-plus-o" title="Add to calender" aria-hidden="true"></i>
                            </a>
                        </ng-template>
                        <a class="link ml-1" [href]="data.url" target="_blank"> {{data.name}} </a>
                        <small>({{data.site}})</small>
                    </td>
                    <td class="font5">{{dateToHumanReadable(data.start_time)}}</td>
                    <td class="font5">{{dateToHumanReadable(data.end_time)}}</td>
                    <td class="font5">{{secondToHumanReadable(data.duration)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>