<div class="full center">
    <div>
        <div class="center">
            <img class="center rounded-circle" height="100px" src="../../../assets/images/user.png" alt="">
        </div>
        <h2> {{username}} </h2>
        <ul>
            <li>
                <a routerLink="/code/{{username}}">Your Saved Codes</a>
            </li>
            <li>
                <a [routerLink]="['/blog/recent']" [queryParams]="{ user: username}">
                    Your Blogs
                </a>
            </li>
        </ul>
    </div>
</div>