<div class="full center">
    <div>
        <div class="center">
            <img class="center rounded-circle" height="100px" src="../../../assets/images/user.png" alt="">
        </div>
        <h2> {{username}} </h2>
        <ul>
            <li>
                <h2>
                    <a routerLink="/code/{{username}}">codes</a>
                </h2>
            </li>
            <li>
                <h2>
                    <a [routerLink]="['/blog/recent']" [queryParams]="{ user: username}">
                        Blogs
                    </a>
                </h2>
            </li>
        </ul>
    </div>
</div>