<div class="full center">
    <div>
        <div class="center">
            <img class="center rounded-circle" height="100px" src="../../../assets/images/user.png" alt="">
        </div>
        <h2> {{username}} </h2>
        <ul>
            <li *ngIf="isSameAuthor()">
                <a routerLink="/code/{{username}}">Your saved Codes</a>
            </li>
            <li>
                <a [routerLink]="['/blog/recent']" [queryParams]="{ user: username}">
                    {{isSameAuthor() ? 'Your ' : username + "'s "}} Blogs
                </a>
            </li>
        </ul>
    </div>
</div>