<div class="full">
    <div class="full center">
        <div>
            <div class="h3 text-danger">Login</div>
            <div class="font-italic">
                Don't have an account ?
                <a routerLink="/register" class="link">create one</a>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="pt-3 was-validated" method="post">

                <div class="form-group">
                    <label for="username">Username or Email</label>
                    <input type="text" id="username" formControlName="username"
                        class="form-control form-control-sm custom-width" placeholder="Your name" required>
                    <div *ngIf="!userName.valid && (userName.dirty || userName.touched) && userName.errors">
                        <div *ngIf="userName.errors.required" class="text-danger font-italic">
                            Username or Email is required!!
                        </div>
                    </div>
                    <!-- <small *ngIf="hasError('user')" class="text-danger font-italic">Username required!</small> -->
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" formControlName="password"
                        class="form-control form-control-sm custom-width" placeholder="Your password" required>
                    <div *ngIf="!userPass.valid && (userPass.dirty || userPass.touched) && userPass.errors">
                        <div *ngIf="userPass.errors.required" class="text-danger font-italic">
                            Password is required!!
                        </div>
                    </div>
                    <!-- <small *ngIf="hasError('password')" class="text-danger font-italic">password required!</small> -->
                </div>

                <button class="btn btn-primary btn-sm">Log In</button>
            </form>
        </div>
    </div>
</div>