<div class="full">
    <div>
        <div class="row">
            <div class="col">
                <div class="border">
                    <div class="row center mt-2 mb-2 ml-0 mr-0">
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-1 font-weight-bold icon-size" data-toggle="Decoder"
                                    title="Share your code">
                                    <i class="fas fa-code"></i>
                                </div>
                                <div class="col text-left">
                                    <input class="w-100 font-code form-control-sm border" type="text"
                                        placeholder="Title" #title>
                                </div>
                                <div class="col">
                                    <i class="fas fa-folder"></i>
                                    <select class="ml-2 form-select form-control-sm"
                                        aria-label="Default select example">
                                        <option selected>Default</option>
                                        <option value="1">C++</option>
                                        <option value="2">C</option>
                                        <option value="3">Java</option>
                                        <option value="4">Python</option>
                                        <option value="5">Javascript</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="row">
                                <div class="col text-right mt-1">
                                    <a class=" btn-sm btn-default icon-size" data-toggle="tooltip"
                                        title="Share your code" (click)="shareCodeClick()">
                                        <i class="fas fa-share-square"></i>
                                    </a>
                                    <a class=" btn-sm btn-default icon-size" data-toggle="tooltip"
                                        (click)="beautifyContent()" title="Indent your code">
                                        <i class="fa fa-indent"></i>
                                    </a>
                                    <a (click)="uploadFileClick()" class=" btn-sm btn-default icon-size"
                                        data-toggle="tooltip" title="Upload code">
                                        <i class="fas fa-upload"></i>
                                    </a>

                                    <a class=" btn-sm btn-default icon-size" data-toggle="tooltip"
                                        (click)="downloadCode()" title="Download code">
                                        <i class="fas fa-download"></i>
                                    </a>
                                    <a class=" btn-sm btn-default icon-size" data-toggle="tooltip"
                                        (click)="copyToClipboard('code')" title="copy code">
                                        <i class="fas fa-copy"></i>
                                    </a>
                                    <a class=" btn-sm btn-default icon-size" data-toggle="tooltip"
                                        title="save user settings">
                                        <i class="fas fa-user-cog"></i>
                                    </a>
                                    <a class=" btn-sm btn-default icon-size" data-toggle="tooltip"
                                        title="save as template">
                                        <i class="fas fa-save"></i>
                                    </a>

                                    <input type="file" id="codeUpload" class="hide"
                                        (change)="onChangeFile($event.target.files)" />
                                </div>
                                <div class="col-sm-2">
                                    <div class="">
                                        <!-- <small>Language</small> -->
                                        <select data-toggle="tooltip" title="Languages"
                                            class="form-control form-control-sm" (change)="setMode(modeSelect.value)"
                                            [value]='selectedLanguage' #modeSelect>
                                            <option [value]='language.key'
                                                *ngFor="let language of availableLanguages | keyvalue"
                                                [selected]='language.key === selectedLanguage ? "selected" : ""'>
                                                {{language.key}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="">
                                        <!-- <small>Theme</small> -->
                                        <select data-toggle="tooltip" title="Themes"
                                            class="form-control form-control-sm" (change)="setTheme(themeSelect.value)"
                                            #themeSelect>
                                            <option [value]='theme.name' *ngFor="let theme of availableThemes"
                                                [selected]='theme.name === selectedTheme ? "selected" : ""'>
                                                {{theme.caption}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <!-- Run -->
                                    <button data-toggle="tooltip" title="Ctrl + b" type="button" id="runButton"
                                        class="col btn btn-outline-primary btn-sm" (click)="runClicked()" #runButton>
                                        <i class="fas fa-play"></i>
                                        <span class="ml-1"> Run </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="ml-1 col-sm-8" #codeEditor></div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div>
                            <div class="row border">
                                <div class="col">
                                    <span class="font-code font-weight-bold">
                                        <i class="fas fa-inbox"></i>
                                        Input
                                    </span>
                                </div>
                                <div class="col text-right">
                                    <a class="btn-floating btn-sm btn-default" data-toggle="tooltip"
                                        data-placement="left" (click)="copyToClipboard('input')" title="copy input">
                                        <i class="fas fa-copy"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" #inputEditor></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div>
                            <div class="row border">
                                <div class="col">
                                    <span class="font-code font-weight-bold">
                                        <i class="fas fa-poll-h"></i>
                                        Output
                                    </span>
                                </div>
                                <div class="col text-right">
                                    <a class="btn-floating btn-sm btn-default" data-toggle="tooltip"
                                        data-placement="left" (click)="copyToClipboard('output')" title="copy output">
                                        <i class="fas fa-copy"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" #outputEditor></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div [ngClass]="isError ? '' : 'hide'">
            <div class="border">
                <div class="row ml-2 mr-2">
                    <div class="col">
                        <span class="font-code font-weight-bold">
                            <i class="fas fa-bug"></i>
                            Error
                        </span>
                    </div>
                    <div class="col text-right">
                        <a class="btn-floating btn-sm btn-default" data-toggle="tooltip" data-placement="left"
                            (click)="copyToClipboard('error')" title="copy stderr">
                            <i class="fas fa-copy"></i>
                        </a>
                    </div>
                </div>
            </div>
            <textarea class="font-small font-code form-control text-danger" disabled="true" rows="10"
                aria-label="output-textarea" #error></textarea>
        </div>
    </div>

    <!-- 
    <div class="row">
        <div class="col ml-2">
            <div>
                <div class="row border">
                    <div class="col">
                        <span class="font-code font-weight-bold">
                            <i class="fas fa-inbox"></i> Input
                        </span>
                    </div>
                    <div class="col text-right">
                        <a class="btn-floating btn-sm btn-default" data-toggle="tooltip" data-placement="left"
                            (click)="copyToClipboard(inputArea)" title="copy input">
                            <i class="fas fa-copy"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <textarea class="col font-small font-code form-control" aria-label="input-textarea" rows="6"
                        #inputArea placeholder="Input here"></textarea>
                </div>
            </div>
        </div>
        <div class="col mr-2">
            <div>
                <div class="row border">
                    <div class="col">
                        <span class="font-code font-weight-bold">
                            <i class="fas fa-poll-h"></i>
                            Output
                        </span>
                    </div>
                    <div class="col text-right">
                        <a class="btn-floating btn-sm btn-default" data-toggle="tooltip" data-placement="left"
                            (click)="copyToClipboard(outputArea)" title="copy output">
                            <i class="fas fa-copy"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <textarea class="col font-small font-code form-control" disabled="true" rows="6"
                        aria-label="output-textarea" #outputArea></textarea>
                </div>
            </div>
        </div>
    </div>
-->
</div>