.codeEditor {
  height: 100vh; /* Todo: Doing nothing, change height */
  font-family: consolas;
}

.input-output {
  margin-top: 5px;
  display: block;
  overflow: hidden;
  resize: none;
}

.font-small {
  font-size: 0.9em;
}

.bb {
  border: 1px solid red;
}