/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@350&display=swap');
@import "../node_modules/font-awesome/css/font-awesome.css";
* {
  font-weight: normal;
  /* border: 2px solid black; */
}

body, html {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.img1 {
  background-image: url('./assets/images/bg1.jpg');
  background-size: cover;
}
.img2 {
  background-image: url('./assets/images/bg2.jpg');
  background-size: cover;
}
.img3 {
  background-image: url('./assets/images/bg3.png');
  background-size: cover;
}
.bg-black {
  background-color: #000;
}
.bg-white {
  background-color: #fff;
}

a:hover {
  cursor: pointer;
}
.link {
  cursor: pointer;
  color: blue !important;
}

.text-blue {
  color: #33C9FF;
}
.text-white {
  color: #fff;
}
/* full height */
.full {
  height: 100%;
}

.font1 {
  font-family: 'Roboto Slab', monospace, sans-serif;
}
.font2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
.font3 {
  font-family: Arial, Helvetica, sans-serif;
}
.font-code {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace, serif;
}

.hcenter {
  display: flex;
  justify-content: center;
}
.vcenter {
  display: flex;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 100vh;
}