<div class="full">
    <div class="center full">
        <div>
            <div class="h3 text-danger">Register</div>
            <div class="font-italic">
                Already have an account
                <a routerLink="/login" class="link">login</a>
            </div>

            <form class="pt-3 was-validated" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" formControlName="user"
                        class="form-control form-control-sm custom-width" placeholder="Your name" required>
                    <!-- <small *ngIf="hasError('user')" class="text-danger font-italic">username required!</small> -->
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" formControlName="email"
                        class="form-control form-control-sm custom-width" placeholder="Your email" required>
                    <!-- <small *ngIf="hasError('email')" class="text-danger font-italic">email required!</small> -->
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" formControlName="password"
                        class="form-control form-control-sm custom-width" placeholder="Your password" required>
                    <!-- <small *ngIf="hasError('password')" class="text-danger font-italic">password required!</small> -->
                </div>

                <div class="form-group">
                    <label for="repassword">Repeat password</label>
                    <input type="password" id="repassword" formControlName="repassword"
                        class="form-control form-control-sm custom-width" placeholder="Repeat password" required>
                    <!-- <small *ngIf="hasError('repassword')" class="text-danger font-italic">repassword
                    required!</small> -->
                </div>

                <button class="btn btn-primary btn-sm">Submit</button>
            </form>
        </div>
    </div>
</div>