<div class="full" style="min-height: 110vh;">
    <div class="center full" style="min-height: 150vh;">
        <div>
            <div class="h3 text-danger">Register</div>
            <div class="font-italic">
                Already have an account ?
                <a routerLink="/login" class="link">login</a>
            </div>
            <!-- <ff-alerts></ff-alerts> -->
            <form [formGroup]="signupForm" (ngSubmit)="signUpLocal()" class="pt-3 was-validated" method="post">
                <div class="form-group">
                    <label for="username">Username</label>&nbsp;
                    <i class="fas fa-info-circle" data-toggle="tooltip" data-original-title="This means your unique username (nickname) on decoderforces." data-placement="right"></i>
                    <input type="text" id="username" name="username" formControlName="username"
                        class="form-control form-control-sm custom-width" placeholder="Your name" required>
                    <div *ngIf="!userName.valid && (userName.dirty || userName.touched) && userName.errors">
                        <div *ngIf="userName.errors.required" class="text-danger font-italic">
                            Username is required!
                        </div>
                        <div *ngIf="userName.errors.validateuser" class="text-danger font-italic">
                            Username already exist!
                        </div>
                        <div *ngIf="userName.errors.minlength" class="text-danger font-italic">
                            Username minimum length allowed is 3.
                        </div>
                        <div *ngIf="userName.errors.pattern" class="text-danger font-italic">
                            username can have: [A-Z], [a-z], [0-9], .(dot), _(underscore), - (hyphen)
                            <br />
                            username starting with: .(dot) or _(underscore) or - (hyphen) are invalid
                            <br />
                            username should be atleast 8 characters long
                            <br />
                            so much to read right? just try your nickname !!
                            <br />
                        </div>
                    </div>
                    <!-- <small *ngIf="hasError('user')" class="text-danger font-italic">username required!</small> -->
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" formControlName="email"
                        class="form-control form-control-sm custom-width" placeholder="Your email" required>
                    <div *ngIf="!userEmail.valid && (userEmail.dirty || userEmail.touched) && userEmail.errors">
                        <div *ngIf="userEmail.errors.required" class="text-danger font-italic">
                            Email is required!
                        </div>
                        <div *ngIf="userEmail.errors.validateuser" class="text-danger font-italic">
                            Email already exist!
                        </div>
                    </div>
                    <!-- <small *ngIf="hasError('email')" class="text-danger font-italic">email required!</small> -->
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" formControlName="password"
                        class="form-control form-control-sm custom-width" placeholder="Your password" required>
                    <div *ngIf="!userPass.valid && (userPass.dirty || userPass.touched) && userPass.errors">
                        <div *ngIf="userPass.errors.required" class="text-danger font-italic">
                            Password is required!!
                        </div>
                        <div *ngIf="userPass.errors.invalidPassword" class="text-danger font-italic">
                            Password must match following password pattern for good strength. 💪
                            <br />
                            The password should be a minimum of eight characters long.
                            <br />
                            It has at least one lower case letter.
                            <br />
                            It has at least one upper case letter.
                            <br />
                            It has at least one number.
                            <br />
                        </div>
                    </div>
                    <!-- <small *ngIf="hasError('password')" class="text-danger font-italic">password required!</small> -->
                </div>

                <div class="form-group">
                    <label for="repassword">Repeat password</label>
                    <input type="password" id="repassword" formControlName="repassword"
                        class="form-control form-control-sm custom-width" placeholder="Repeat password" required>
                    <div *ngIf="!rePass.valid && (rePass.dirty || rePass.touched) && rePass.errors">
                        <div *ngIf="rePass.errors.required" class="text-danger font-italic">
                            Password is required!!
                        </div>
                        <div *ngIf="rePass.errors.mustMatch" class="text-danger font-italic">
                            Password does not match!!
                        </div>
                    </div>
                    <!-- <small *ngIf="hasError('repassword')" class="text-danger font-italic">repassword
                    required!</small> -->
                </div>

                <button class="btn btn-primary btn-sm">Submit</button>
            </form>
        </div>
    </div>
</div>