<!-- <div class="footer text-center font1 bg-black">
    &copy; {{getCurrentYear()}} {{title}}
    <p class="love">Made with all <i class="fa fa-heart" style="color: red;" aria-hidden="true"></i> in the world</p>
</div> -->
<!-- Site footer -->
<footer class="site-footer footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">Decoder is software that provides all help, tools and information related to
                    competitive programming at the same place. Decoder contains an online compiler for some of the
                    languages, allowing users to share code with others by sharing a link to the code. Along with the
                    compiler it has a stress testing environment which uses system automated test cases for your code
                    and checks efficiency and correctness of your code against these test cases. </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Languages Supported</h6>
                <ul class="footer-links">
                    <li><a href="https://www.cplusplus.com/">C</a></li>
                    <li><a href="https://www.cplusplus.com/">C++</a></li>
                    <li><a href="https://docs.python.org/3/">Python</a></li>
                    <li><a href="https://docs.oracle.com/en/java/">Java</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="https://github.com/DhruvGheewala/Decoder">Contribute</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; {{getCurrentYear()}} All Rights Reserved by
                    {{title}}
                </p>
                <p class="love">
                    Made with all
                    <i class="fa fa-heart heart text-danger" aria-hidden="true"></i>
                    in the world
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li>
                        <a class="github" href="https://github.com/DhruvGheewala/Decoder">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>